<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="k.art">

    <permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".KApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ch11Th.Ch11MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ch11Th.KIntentService"/>
        <activity android:name=".ch10Msg.Ch10MainActivity"/>
        <activity android:name=".ch8W.Ch8MainActivity"/>
        <activity android:name=".ch7Anim.Ch7ActAnimActivity" />
        <activity android:name=".ch7Anim.Ch7PropertyActivity"/>
        <activity android:name=".ch7Anim.Ch7MainActivity"/>
        <activity android:name=".ch7Anim.Ch7ViewAnimActivity" />
        <activity android:name=".ch6Drawable.Ch6MainActivity" />
        <activity android:name=".ch5Remote.Ch5AActivity" />
        <activity android:name=".ch5Remote.Ch5BActivity" />
        <activity android:name=".ch4View.Ch4MainActivity" />

        <receiver android:name=".ch5Remote.KAppWidgetImpl">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />

            <intent-filter>
                <action android:name="k.art.ch5.click_intent" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>